<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let dexter of data">
        <app-card [heading]="dexter.heading" [price]="dexter.price" [user]="dexter.user" [storage]="dexter.storage" [subdomain]="dexter.subdomain" [color1]="dexter.color1" [color2]="dexter.color2"[color3]="dexter.color3"[color4]="dexter.color4" [fa1]="dexter.fa1" [fa2]="dexter.fa2"[fa3]="dexter.fa3"[fa4]="dexter.fa4"[fa5]="dexter.fa5"></app-card>
      </div>
      
    </div>
  </div>
</section>